{% extends "base.html" %}
{% block content %}
    <div class="container my-5 py-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ patient.first_name}} {{patient.last_name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="https://i.pravatar.cc/150?img={{patient.id+5}}" class="img-fluid rounded-circle mb-3" alt="{{ patient.name }} Avatar">
                                <p class="card-text"><strong>Current Institution:</strong> {{ patient.parent_institute.title }}</p>

                                <p class="card-text"><strong>Date of Birth:</strong> {{ patient.date_of_birth.strftime('%d %B %Y') }}</p>

                                <p class="card-text"><strong>Email:</strong> {{ patient.email }}</p>
                                <p class="card-text"><strong>Address:</strong> {{ patient.address }}</p>
                                <a href="{{url_for('patient.edit_profile')}}" class="btn btn-link">Edit Profile</a>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>Medical History:</strong></p>
                                <p class="card-text">{{ patient.medical_history }}</p>
                                <a href="{{url_for('patient.patient_appointments',user_id=patient.id)}}" class="btn btn-link">View my Appointments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
